In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
columns_target = ['Survived']
columns_train  = ['Pclass','Sex','Age','Fare']

In [5]:
X = df[columns_train]
y = df[columns_target]

#### Data Cleaning and checking for nulls

In [7]:
X['Sex'].isnull().sum()

0

In [8]:
X['Pclass'].isnull().sum()

0

In [14]:
X['Age'].isnull().sum()

0

In [10]:
X['Fare'].isnull().sum()

0

###### Here age has null values so lets fill it up with mean values

In [15]:
X['Age'] = X['Age'].fillna(X['Age'].mean())
X['Age'].isnull().sum()

C:\Users\sapta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0

In [16]:
X.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [17]:
d = {'male': 0 ,'female':1}
X['Sex'] = X['Sex'].apply(lambda x:d[x])
X['Sex'].head()

C:\Users\sapta\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

In [18]:
X.head()

   Pclass  Sex   Age     Fare
0       3    0  22.0   7.2500
1       1    1  38.0  71.2833
2       3    1  26.0   7.9250
3       1    1  35.0  53.1000
4       3    0  35.0   8.0500

In [22]:
y.head()

   Survived
0         0
1         1
2         1
3         1
4         0

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2)

In [25]:
from sklearn import linear_model
clf = linear_model.LogisticRegression()

In [26]:
clf.fit(X_train,Y_train)

C:\Users\sapta\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\sapta\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [54]:
clf.predict(X_test)
X_test.head()

     Pclass  Sex   Age     Fare
707       1    0  42.0  26.2875
84        2    1  17.0  10.5000
151       1    1  22.0  66.6000
530       2    1   2.0  26.0000
460       1    0  48.0  26.5500

In [30]:
clf.score(X_test,Y_test)

0.7821229050279329

# Apply on test dataset

In [45]:
df2 = pd.read_csv('test.csv')

In [46]:
df2.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [47]:
columns_target = ['Survived']
columns_train  = ['Pclass','Sex','Age','Fare']

In [49]:
X = df2[columns_train]
#y = df2[columns_target]

In [50]:
X['Age'] = X['Age'].fillna(X['Age'].mean())
X['Age'].isnull().sum()

C:\Users\sapta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0

In [51]:
d = {'male': 0 ,'female':1}
X['Sex'] = X['Sex'].apply(lambda x:d[x])
X['Sex'].head()

C:\Users\sapta\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0    0
1    1
2    0
3    0
4    1
Name: Sex, dtype: int64

In [52]:
X.describe()

           Pclass         Sex         Age        Fare
count  418.000000  418.000000  418.000000  417.000000
mean     2.265550    0.363636   30.272590   35.627188
std      0.841838    0.481622   12.634534   55.907576
min      1.000000    0.000000    0.170000    0.000000
25%      1.000000    0.000000   23.000000    7.895800
50%      3.000000    0.000000   30.272590   14.454200
75%      3.000000    1.000000   35.750000   31.500000
max      3.000000    1.000000   76.000000  512.329200

In [56]:
X['Sex'].isnull().sum()

0

In [57]:
X['Pclass'].isnull().sum()

0

In [58]:
X['Age'].isnull().sum()

0

In [59]:
X['Fare'].isnull().sum()

1

In [60]:
X['Fare'] = X['Fare'].fillna(X['Fare'].mean())
X['Fare'].isnull().sum()

C:\Users\sapta\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

0

In [69]:
test_passengerIds = df2['PassengerId'].copy()

In [73]:
y_pred = clf.predict(X)

AttributeError: 'numpy.ndarray' object has no attribute 'count'

In [74]:
pd.DataFrame({'PassengerId': test_passengerIds, 'Survived': y_pred}).to_csv('submission.csv', index=False)

In [75]:
submission = pd.read_csv('submission.csv')
submission.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [77]:
submission.describe()

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.366029
std     120.810458    0.482295
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000